#logo {
   height: 100%;
}

.none {
   display: none;
}

#video {
   width: 80%;
   height: 500px;
   margin-left: 10%;
   margin-bottom: 5%;
   background-color: aqua;
}
h2 {
   color: aqua;
}

@media (max-width: 991px) {
   #video {
      height: 315px;
      margin-left: 10%;
      background-color: green;
   }
   h2 {
      color: green;
   }
}

@media (max-width: 767px) {
   #video {
      height: 250px;
      background-color: yellow;
   }
   h2 {
      color: yellow;
   }
}

@media (max-width: 500px) {
   #video {
      width: 100%;
      margin-left: 0;
      background-color: red;
   }
   h2 {
      color: red;
   }
}

@media (max-width: 400px) {
   #video {
      height: 190px;
      background-color: violet;
   }
   h2 {
      color: violet;
   }
}